html {
    scroll-behavior: smooth;
  }

* {
    margin: 0px;
    padding: 0px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-webkit-scrollbar {
    display: none;
}

#mainContainer {
    border: solid red;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    min-width: 100vw;
    overflow: scroll;
}

#header {
    border: solid;
    color: rgb(255, 255, 255);
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10%;
    width: 100%;
    font-weight: 100;
}

#header > div {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

#contentContainer {
    border: solid green;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100vw;
/* ------------------*/
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;    
}

#homeContainer {
    border: orange solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

#homeContainer > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#homeContainer > div {
    border: solid white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
/*---------------------*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: -1;
}

#homeContainer > div > h1 {
    color: #000000;
    border: solid yellow;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 6em;
    margin-bottom: 6%;
    font-weight: 400;
}

#homeContainer > div > p {
    color: rgb(0, 0, 0);
    border: solid red;
    height: fit-content;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    word-spacing: 5px;
    font-weight: 100;
}

#aboutContainer {
    border: solid violet;
    background-color: bisque;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#aboutContainer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    margin-top: 8%;
}

#aboutContainer > div > h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 6%;
}

#aboutContainer > div > p {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    width: 30%;    
    font-size: 1.5em;
    text-align: center;
    word-spacing: 5px;
    font-weight: 200;
}

#menuContainer {
    border: solid yellowgreen;
    background-color: #fae8ff;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}

#menuContainer > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#titleRow {
    height: clamp(10%, 20%, 20%);
    width: 100%;
    font-size: clamp(10px, 2em, 2em);
    font-weight: 300;
    text-align: center;
    align-items: center;
}

#secondRow {
    height: clamp(50%, 80%, 80%);
}

#menuContainer > div > div {
    display: flex;
    flex-wrap: wrap;
    height: clamp(50px, 30%, 30%);
    width: clamp(200px, 15%, 20%);
    margin: 1%;
}

#menuContainer > div > div > h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    word-spacing: 5px;
    font-weight: 250;
    margin-bottom: 5%;
    font-size: clamp(5px, 1.5em, 2em);
}

#menuContainer > div > div > p {
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    width: 100%;
    text-align: center;
    word-spacing: 5px;
    font-weight: 150;
    font-size: clamp(1px, 1em, 1em);
}

#hoursContainer {
    border: solid rgb(0, 0, 0);
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#hoursContainer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    margin-top: 8%;
}

#hoursContainer > div > h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 6%;
}

#hoursContainer > div > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#hoursContainer > div > div > p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;    
    font-size: 1.5em;
    text-align: center;
    word-spacing: 5px;
    font-weight: 200;
    margin: 0.5%;
}

#hoursContainer > div > div >:nth-child(1) {
    font-weight: 250;
}

#contactsContainer {
    border: solid rgb(0, 179, 207);
    background-color: #fae8ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#contactsContainer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin-top: 8%;
}

#contactsContainer > div > h2 {
    border: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: fit-content;
    width: 100%;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 6%;
}

#contactsContainer > div > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contactsContainer > div > div > p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;    
    font-size: 1.5em;
    text-align: center;
    word-spacing: 5px;
    font-weight: 200;
    margin: 0.5%;
}

#footer {
    border: solid;
    background-color: #fcd34d;
    color: black;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-github {
    color: black;
    font-size: 27px;
    transition: transform 0.3s ease-in-out;
    margin: 0.5vh;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

