@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

html {
    scroll-behavior: smooth;
  }

* {
    margin: 0px;
    padding: 0px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-webkit-scrollbar {
    display: none;
}

h2 {
    font-family: "Asap", sans-serif;
}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    min-width: 100vw; 
}

#header {
    position: fixed;
    color: rgba(255, 255, 255, 0.562);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    font-weight: 300;
    font-family: "Asap", sans-serif;
    font-size: 15px;
}

#header > div {
    margin: 10px;
    padding: 10px;
    height: fit-content;
    cursor: pointer;
}

#header > div:hover {
    color: white;
}

#contentContainer {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto; 
}

#homeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

#homeContainer > img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%);
}

#homeContainer > div {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    position: relative;
    height: fit-content;
}

#homeContainer > div > h1 {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 7rem;
    margin-bottom: 6%;
    font-weight: 400;
    font-family: "Asap", sans-serif;
}

#homeContainer > div > p {
    height: fit-content;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    word-spacing: 5px;
    font-weight: 100;
}

#aboutContainer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#aboutContainer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    margin-top: 8%;
}

#aboutContainer > div > h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 6%;
}

#aboutContainer > div > p {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    width: 30%;    
    font-size: clamp(25px, 1.5em, 20px);
    text-align: center;
    word-spacing: 5px;
    font-weight: 100;
}

#menuContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    color: white;
}

#menuContainer > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#titleRow {
    height: clamp(10%, 20%, 20%);
    width: 100%;
    font-size: clamp(10px, 2.5em, 2.5em);
    font-weight: 300;
    text-align: center;
    align-items: center;
    font-family: "Asap", sans-serif;
}

#secondRow {
    height: clamp(50%, 80%, 80%);
}

#menuContainer > div > div {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: clamp(200px, 15%, 20%);
    margin: 2%;
    text-align: center;
}

#menuContainer > div > div > h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    word-spacing: 5px;
    font-weight: 300;
    margin-bottom: 8%;
    font-size: clamp(5px, 2em, 2em);
}

#menuContainer > div > div > p {
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    width: 100%;
    text-align: center;
    word-spacing: 5px;
    font-weight: 100;
    font-size: clamp(1px, 1em, 1em);
}

#hoursContainer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#hoursContainer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

#hoursContainer > div > h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 6%;
}

#hoursContainer > div > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#hoursContainer > div > div > p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;    
    font-size: 1.5em;
    text-align: center;
    word-spacing: 5px;
    font-weight: 100;
    margin: 0.5%;
}

#hoursContainer > div > div >:nth-child(1) {
    font-weight: 250;
}

#contactsContainer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#contactsContainer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;
}

#contactsContainer > div > h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: fit-content;
    width: 100%;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 6%;
}

#contactsContainer > div > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contactsContainer > div > div > p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;    
    font-size: 1.5em;
    text-align: center;
    word-spacing: 5px;
    font-weight: 100;
    margin: 0.5%;
}

/*
#footer {
    border: solid;
    background-color: #fcd34d;
    color: black;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-github {
    color: black;
    font-size: 27px;
    transition: transform 0.3s ease-in-out;
    margin: 0.5vh;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}
*/
@media screen and (max-width: 768px) {
    #header {
      font-size: 12px;
    }

    #homeContainer > div > h1 {
        font-size: 5rem;
    }

    #homeContainer > div > p {
        font-size: 1.5rem;
        width: 80%;
    }

    #aboutContainer {
        align-items: center;
    }

    #aboutContainer > div > h2 {
        font-size: 2.7em;
    }

    #aboutContainer > div > p {
        width: 80%;    
    }

    #menuContainer {
        height: fit-content;
    }

   #titleRow {
        margin-bottom: 5vh;
        font-size: 2.7em;
   }
   
   #titleHourContainer {
        font-size: 2.7em;
   }

   #titleContactContainer {
        font-size: 2.7em;
   }

   #contentContainer {
    overflow-x: hidden;
    overflow-y: visible; 
}

#homeContainer {
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: solid red;
}

#homeContainer > img {
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  }

@media screen and (max-width: 425px) {
    #header {
      font-size: 12px;
    }

    #homeContainer > div > h1 {
        font-size: 5rem;
    }

    #homeContainer > div > p {
        font-size: 1.5rem;
        width: 80%;
    }

    #aboutContainer {
        align-items: center;
    }

    #aboutContainer > div > p {
        width: 80%;    
    }

    #menuContainer {
        height: fit-content;
    }
  }
